{% extends 'base.html.twig' %}

{% block title %}Acceptable Use Policy{% endblock %}

{% block body %}

<h2>Acceptable Use Policy</h2>

Any attempt to use the {{ app_name }} Services to distribute harmful, false or misleading content or otherwise manipulate the {{ app_name }} Services for such purposes is strictly prohibited. 
If we determine that you are using or have used the {{ app_name }} Services for any form of misconduct, including violation of this Policy, we may restrict your ability to use our Platform, remove your Content, or terminate your account. 
Misconduct may also violate applicable laws and may result in legal action and civil and criminal penalties.

<br/><br/>
<h4>Permissibility</h4>

You may use the {{ app_name }} Services only in accordance with the {{ app_name }} Terms. 
If we suspend or revoke your privileges to use the {{ app_name }} Services, you will not be entitled to access them again until further notice, and any attempt to circumvent such access restrictions (e.g., by creating additional accounts or identities) is strictly prohibited and will result in the permanent deactivation of such accounts and their flagging for future enforcement purposes.

<br/><br/>
<h4>Never use the {{ app_name }} Services to distribute abusive, dangerous or illegal content</h4>

You are prohibited from using the {{ app_name }} Services to distribute or promote the following types of content (including, but not limited to, text, images, video, and audio):
<ul>
    <li>Content that attacks individuals or groups based on their race, gender, ethnicity, national origin, immigration status, religion, sex or gender identity, sexual orientation, disability or medical condition, and Content that supports organizations with such views.</li>
    <li>Content that exploits children</li>
    <li>Misinformation, including but not limited to medical or civic misinformation</li>
    <li>Content that threatens, incites, or promotes violence or graphic depictions</li>
    <li>Sexually explicit or intimate content that is disseminated without the consent of the individual concerned</li>
    <li>Content that glorifies or promotes self-harm or endangers your safety or the safety of others</li>
    <li>Any content that promotes terrorism</li>
    <li>Any other content that is illegal</li>
</ul>

<br/>
<h4>Never engage in abusive, dangerous, or illegal behavior</h4>

You are prohibited from using the {{ app_name }} Services to engage in the following conduct:
<ul>
    <li>Spreading malware, viruses, badware or other types of disruptive software.</li>
    <li>Phishing, spoofing, hacking, or otherwise attempting to fraudulently gain access to another person's data</li>
    <li>Sending commercial bulk email or SMA (i.e., spam)</li>
    <li>Bypassing {{ app_name }}'s systems to avoid detection of misuse as described in the {{ app_name }} Terms and Conditions</li>
    <li>Disclosing an individual's private information without their consent</li>
    <li>Threatening violence or harm to others</li>
    <li>Bullying, harassment, or coordinated online attacks against individuals or groups</li>
    <li>Impersonating others or misrepresenting your affiliation with individuals, organizations, or other entities</li>
    <li>Facilitating illegal activities such as the sale of prohibited goods and/or services</li>
    <li>Infringing on the intellectual property of another person or entity</li>
</ul>

<br/>
<h4>Reporting abuse and violations</h4>

We encourage anyone who suspects that someone is tampering with the {{ app_name }} Services or violating our Terms of Service in any way to notify us. 
We investigate concerns thoroughly and take appropriate action, up to and including closing user accounts.
<br/>If you believe {{ app_name }} has misclassified your activity as misconduct, you may contact us and we will review your appeal.

<br/><br/>
<h4>Enforcement for non-compliance</h4>

{{ app_name }} is committed to protecting the user experience, and in doing so, our actions will reflect the spirit, not just the letter, of these Terms of Use. 
{{ app_name }} reserves the right to suspend or terminate accounts or pause or remove content that we believe negatively impacts the user experience or the safety of our community, whether or not the conduct is expressly prohibited by these Terms of Use. 
These Terms of Use do not contain a comprehensive list of all types of content that {{ app_name }} may restrict or block, nor all the reasons {{ app_name }} may restrict or block content.
<br/><br/>
{% endblock %}