{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Categories{% endtrans %}
{% endblock %}

{% block body %}
  <div class='form-lg'>
    <h1>{% trans %}Categories{% endtrans %}</h1>

    <div
      {{ stimulus_controller('svc--util-bundle--reload-content', {
        url: path('category_index', { ajax: 1 } ),
        refreshAjax: 1
      }) }}
      {{ stimulus_action('svc--util-bundle--reload-content', 'refreshContent', 'default-category:success') }}
    >

      <div {{ stimulus_target('svc--util-bundle--reload-content', 'content') }}>
        {{ include('category/_list.html.twig') }}
      </div>

    </div>
    <a href="{{ path('category_new') }}" class="btn btn-sm btn-success">{% trans %}New{% endtrans %}</a>
  </div>
{% endblock %}
