{% macro sortArrow(sortName, sort, sortDirection) %}
    {% if sort == sortName %}
        {% if sortDirection == 'asc' %}
          <i class="fa-solid fa-sort-up"></i>
        {% else %}
          <i class="fa-solid fa-sort-down"></i>
        {% endif %}
    {% else %}
        <!-- up and down arrow -->
        <i class="fa-solid fa-sort"></i>
    {% endif %}
{% endmacro %}

<div class="d-flex justify-content-between">
  <h3 class="me-3"><i class="fas fa-directions"></i> 
    {% if currentCategory %}
      {% trans %}Links for category{% endtrans %}
      {{ currentCategory.name }}
    {% else %}
      {% trans %}All Links{% endtrans %}
    {% endif %}
  </h3>
  <a href="{{ path('app_link_new') }}" type="button" class="btn btn-primary btn-success" role="button">{% trans %}New{% endtrans %}</a>
</div>

<div class='table-responsive-md'>
  <table class="table table-sm">
    <thead>
    <tr>
      <th>
        <a href="{{ path('app_link_index', {
            ...app.request.query.all(),
            ajax: 0,
            sort: 'name',
            sortDirection: sort == 'name' and sortDirection == 'asc' ? 'desc' : 'asc',
          }) }}">
          {% trans %}Name{% endtrans %} {{ _self.sortArrow('name', sort, sortDirection) }}
       </a>        
      </th>
      <th>{% trans %}Description{% endtrans %}</th>
      <th>
        <a href="{{ path('app_link_index', {
            ...app.request.query.all(),
            ajax: 0,
            sort: 'category',
            sortDirection: sort == 'category' and sortDirection == 'asc' ? 'desc' : 'asc',
          }) }}">
        {% trans %}Category{% endtrans %} {{ _self.sortArrow('category', sort, sortDirection) }}
       </a>        
      </th>
      <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for link in links %}
      <tr>
        <td>
          {{ link.name }}
          {% if link.isFavorite %}
            {{ include('_common/_favourite.html.twig') }}
          {% endif %}
        </td>
        <td>{{ link.description }}</td>
        <td>{{ link.category | default('-') }}</td>
        <td>
          <a href="{{ path('app_link_edit', {'id': link.id}) }}"
             class='btn btn-sm btn-outline-info'>{% trans %}Edit{% endtrans %}</a>
          <a href="{{ link.url }}" target='_blank'
             class='btn btn-sm btn-outline-primary'>{% trans %}Test{% endtrans %}</a>
          <span class="d-none"
                {{ stimulus_controller('svc--util-bundle--clipboard', {
                  'link': link.url
                }) }}
              >
                <button class='btn btn-sm btn-outline-warning'
                        title='{% trans %}Copy link to clipboard{% endtrans %}' {{ stimulus_action('svc--util-bundle--clipboard','copy') }}>
                  {% trans %}Copy link{% endtrans %}
                </button>
              </span>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="4">{% trans %}no links found{% endtrans %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% if haveToPaginate %}
  <div class='row'>
    <div class='col'>
      {{ pagerfanta(links, 'twig', {
        'routeName' : 'app_link_index',
        'routeParams': {'catId' : currentCategory.id | default(null), 'sort': sort, 'sortDirection': sortDirection}
      }) }}
    </div>
    <div class='col text-end'>
      Page {{ links.currentPage }} / {{ links.nbPages }}
    </div>
  </div>
{% endif %}
