{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}My redirects{% endtrans %}
{% endblock %}

{% block body %}
  <div class="row">
    <aside class="col-sm-4 col-md-3 col-xl-2">
      {{ include('link/_categoriesSidebar.html.twig') }}
    </aside>

    <div class="col-sm-8 col-md-9 col-xl-10">
      <div
        {{ stimulus_controller('svc--util-bundle--reload-content', {
          url: path('app_link_index', { ajax: 1 } ),
          refreshAjax: 1
        }) }}
        {{ stimulus_action('svc--util-bundle--reload-content', 'refreshContent', 'select-category:success@window') }}
        {{ stimulus_action('svc--util-bundle--reload-content', 'refreshContent', 'modal-form:success') }}
        {{ stimulus_target('data-svc--util-bundle--reload-content', 'content') }}
      >

        <div>
          {{ include('link/_list.html.twig') }}
        </div>

      </div>
    </div>
  </div>
{% endblock %}
